# Binaries
waves.exe
waves-gtk
waves.app/Contents/MacOS/*
!waves.app/Contents/MacOS/*.md
*.dll
*.dylib
*.so

# Code::Blocks service files
*.cscope_file_list
*.layout
*.depend
.obj

# Win32-specific
Thumbs.db
*.def
*.a

# MacOS-specific
.DS_Store
__MACOSX
